/* 利用媒体查询实现响应式布局 */
@media (max-width: 900px){
    .nav-links{
        display: none;
    }
    .content-wrapper{
        width: 100%;
    }

    /* .webkit-box{
        display: flex;
        align-items: center;
    }

    .menu-col{
        display: block;
    } */

    /* 当屏幕足够小时，内容盒子变成垂直方向布局 */
    .content-box{
        display: flex;
        flex-direction: column;
    }
     
}

